header {
    text-align: center;
    margin: 0;
    padding: 5px;
    background-color: rgba(229, 225, 13, 0.5);
    background-position: relative;
    color: aliceblue;
}

body, html {
    margin: 0;
    padding: 0;
    max-width: 100%;
    font-family: 'Shadows Into Light', cursive;
    background-image: url('https://wallpapertops.com/walldb/original/1/5/7/505167.jpg');
    background-size: cover;
    text-align: center;
}

h1 {
    font-size: 50px;
}

.all {
    display: flex;
    flex: 1;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
}


.button {
    border: 3px solid rgb(229, 225, 13);
    border-radius: 5px;
    margin: 10px;
    font-size: 20px;
    padding: 10px 20px;
    transition: all .07s ease;
    width: 50px;
    text-align: center;
    color: white;
    background: rgba(0,0,0,0.4);
    text-shadow: 0 0 10px black;
}

.animate {
    transform: scale(1.1);
    border-color: #f60703;
    box-shadow: 0 0 10px #fd0202;
    background-color: #ec0606;
}